body{
    background-color: #ededed;
    // opacity: 0.2;
}

header{
    margin-bottom: 1rem;
}

.turqiz.background {
    background-color: var(--bs-secondary-bg-rgb), .5;
}

.turquoise{
    color: rgb(51, 189, 175);
}

.radio-icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}
