<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center turquoise">Add Employee</h5>
                        <div class="form-group  mb-3">
                            <label for="f_name" class=""><i class="fas fa-user"></i> שם פרטי:</label>
                            <input class="form-control "
                                [ngClass]="{'is-invalid': userForm.get('f_name')?.touched && userForm.get('f_name')?.errors}"
                                type="text" id="f_name" formControlName="f_name" name="f_name" />
                            <div *ngIf="userForm.get('f_name')?.touched && userForm.get('f_name')?.errors">
                                <div class="alert alert-danger">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group  mb-3">
                            <label for="l_name"><i class="fas fa-user"></i> משפחה:</label>
                            <input class="form-control"
                                [ngClass]="{'is-invalid': userForm.get('l_name')?.touched && userForm.get('l_name')?.errors}"
                                type="text" id="l_name" formControlName="l_name" name="l_name" />
                            <div *ngIf="userForm.get('l_name')?.touched && userForm.get('l_name')?.errors">
                                <div class="alert alert-danger">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="id"><i class="fas fa-user"></i>תעודת זהות:</label>
                            <input class="form-control"
                                [ngClass]="{'is-invalid': userForm.get('id')?.touched && userForm.get('id')?.errors}"
                                type="text" id="id" formControlName="id" name="id" />
                            <div *ngIf="userForm.get('id')?.touched && userForm.get('id')?.errors">
                                <div class="alert alert-danger">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="startDate"><i class="fas fa-user"></i> תאריך תחילת העבודה</label>
                            <input class="form-control"
                                [ngClass]="{'is-invalid': userForm.get('startDate')?.touched && userForm.get('startDate')?.errors}"
                                type="date" id="startDate" formControlName="startDate" name="startDate" />
                            <div *ngIf="userForm.get('startDate')?.touched && userForm.get('startDate')?.errors">
                                <div class="alert alert-danger">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="birthDay"><i class="fas fa-user"></i>תאריך לידה:</label>
                            <input class="form-control"
                                [ngClass]="{'is-invalid': userForm.get('birthDay')?.touched && userForm.get('birthDay')?.errors}"
                                type="date" id="birthDay" formControlName="birthDay" name="birthDay" />
                            <div *ngIf="userForm.get('birthDay')?.touched && userForm.get('birthDay')?.errors">
                                <div class="alert alert-danger">This field is required</div>
                            </div>
                        </div>

                        <div class="form-group  mb-3">
                            <label for="gender"><i class="fas fa-venus-mars"></i> מגדר:</label>
                            <select class="form-control" id="gender" [(ngModel)]="newWorker.gender" name="gender"
                                required>
                                <option value="male">זכר</option>
                                <option value="female">נקבה</option>
                            </select>
                        </div>
                        <div *ngFor="let role of newWorker.roles; let i = index">
                            <div class="form-group mb-3">
                                <label for="roleName">שם התפקיד:</label>
                                <input type="text" class="form-control" id="roleName" [(ngModel)]="role.name"
                                    name="roleName" required>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">ניהול</label>
                            </div>
                            <div class="form-group mb-3">
                                <label for="startDate"><i class="fas fa-user"></i> תאריך תחילת העבודה</label>
                                <input class="form-control"
                                    [ngClass]="{'is-invalid': userForm.get('startDate')?.touched && userForm.get('startDate')?.errors}"
                                    type="date" id="startDate" formControlName="startDate" name="startDate" />
                                <div *ngIf="userForm.get('startDate')?.touched && userForm.get('startDate')?.errors">
                                    <div class="alert alert-danger">This field is required</div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger" (click)="removeRole(i)">ביטול תפקיד</button>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="addRole()">הוסף תפקיד </button>
                        <!-- <button type="submit" class="btn btn-primary rounded-button"><i class="fas fa-save"></i>שמור</button> -->
    <button type="button" class="btn btn-primary" (click)="saveRole()" [disabled]="!roleForm.valid || !isStartDateValid()">Save</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>