<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="mb-3">
  <button type="button" class="btn btn-outline-primary "(click)="exportXSLX()">להורדת פרטי העובדים</button>
  <input type="text" [(ngModel)]="searchText" class="btn " placeholder="לחץ כאן לחיפוש..." (input)="onSearchInput()">
  <button class="btn btn-outline-primary"  (click)="searchAction()">
    {{ searchText ? 'ניקוי שדה החיפוש' : 'חפש' }}
  </button>
  
</div>
<div class="container mt-25">
  <div class="row justify-content-center">
    <div class="col-md-25">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center turquoise">רשימת העובדים</h2>
          <button class="btn btn-primary mt-2" (click)="addWorker()">
            <i class="fas fa-plus"></i> הוספת עובד
          </button>
          <table #table class="table" style="font-family:'Arial', sans-serif;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"><i class="fas fa-user"></i> שם פרטי</th>
                <th scope="col"><i class="fas fa-user"></i> שם משפחה</th>
                <th scope="col"><i class="fas fa-id-card"></i> תעודת זהות</th>
                <th scope="col"><i class="fas fa-save"></i> תאריך תחילת העבודה </th>
                <th scope="col"><i class="fas fa-cogs"></i> פעולות</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let worker of workers; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ worker.firstName }}</td>
                <td>{{ worker.lastName }}</td>
                <td>{{ worker.tz }}</td>
                <td>{{ worker.startDate | date:"dd/MM/yyyy" }}</td>
                <td>
                  <button class="btn btn-outline-primary" (click)="editWorker(worker)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-primary" (click)="removeWorker(worker)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button class="btn btn-outline-primary" (click)="sendEmailToEmployee(worker)">
                    <i class="bi bi-envelope"></i>
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        
        </div>
      </div>
    </div>
  </div>
</div>