<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="font-family: 'Arial', sans-serif;">רשימת העובדים</h2>
      <table class="table table-striped" style="font-family: 'Arial', sans-serif;">
        <thead>
          <tr>
            <th scope="col"><i class="fas fa-user"></i> שם פרטי</th>
            <th scope="col"><i class="fas fa-user"></i> שם משפחה</th>
            <th scope="col"><i class="fas fa-id-card"></i> תעודת זהות</th>
            <th scope="col"><i class="fas fa-cogs"></i> פעולות</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workers">
            <td>{{worker.f_name}}</td>
            <td>{{worker.l_name}}</td>
            <td>{{worker.tz}}</td>
            <td>
              <button class="btn btn-primary mr-2" (click)="editWorker(worker)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteWorker(worker)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="addWorker()">
        <i class="fas fa-plus"></i> הוספת עובד חדש
      </button>
    </div>
  </div>
</div>