<p>work?</p>
<!-- <div class="container">
    <h2>Edit Employee</h2>
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="f_name">First Name:</label>
        <input type="text" class="form-control" id="f_name" name="f_name" [(ngModel)]="newWorker.f_name">
      </div>
      <div class="form-group">
        <label for="l_name">Last Name:</label>
        <input type="text" class="form-control" id="l_name" name="l_name" [(ngModel)]="newWorker.l_name">
      </div>
      <div class="form-group">
        <label for="tz">ID:</label>
        <input type="number" class="form-control" id="tz" name="tz" [(ngModel)]="newWorker.tz">
      </div>
      <div class="form-group">
        <label for="birthDay">Birth Date:</label>
        <input type="date" class="form-control" id="birthDay" name="birthDay" [(ngModel)]="newWorker.birthDay">
      </div>
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="newWorker.startDate">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" name="gender" [(ngModel)]="newWorker.gender">
          <option [ngValue]="true">Male</option>
          <option [ngValue]="false">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="active">Active:</label>
        <input type="checkbox" class="form-control" id="active" name="active" [(ngModel)]="newWorker.active">
      </div>
      <div class="form-group">
        <label for="roles">Roles:</label>
        <select multiple class="form-control" id="roles" name="roles" [(ngModel)]="newWorker.roles">
          <option *ngFor="let role of newWorker.roles" [ngValue]="role">{{ role.name }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div> -->