<div>
  <h2>Edit Employee</h2>
  <form (ngSubmit)="saveChanges()">
    <div *ngIf="employee">
      <div class="form-group">
        <label for="firstName"><i class="fas fa-user"></i> First Name:</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName" required>
      </div>
    <div class="form-group">
      <label for="lastName"><i class="fas fa-user"></i> Last Name:</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="tz"><i class="fas fa-id-card"></i> tz:</label>
      <input type="text" class="form-control" id="tz" [(ngModel)]="employee.tz" name="tz" required>
    </div>
    <div class="form-group">
      <label for="Gender"><i class="fas fa-venus-mars"></i> Gender:</label>
      <select class="form-control" id="Gender" [(ngModel)]="employee.gender" name="Gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email"><i class="fas fa-id-card"></i> email:</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="employee.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="startDate"><i class="fas fa-id-card"></i> Start Date:</label>
      <input type="date" class="form-control" id="startDate" [(ngModel)]="employee.startDate" name="startDate" required>
    </div>
    <div class="form-group">
      <label for="birthDay"><i class="fas fa-id-card"></i> birthDay:</label>
      <input type="date" class="form-control" id="birthDay" [(ngModel)]="employee.birthDay" name="birthDay" required>
    </div>
    <div class="form-group">
      <label for="active"><i class="fas fa-check-circle"></i> active:</label>
      <input type="checkbox" class="form-control" id="active" [(ngModel)]="employee.isActive" name="active">
    </div>
    <div *ngFor="let role of employee.roles; let i = index">
      <div class="form-group">
        <label for="roleName">Role Name:</label>
        <input type="text" class="form-control" id="roleName{{i}}" [(ngModel)]="role.name" name="roleName{{i}}" required>
      </div>
      <div class="form-group">
        <label for="isAdmin">האם מנהל:</label><br>
        <input type="radio" id="isAdminYes{{i}}" name="isAdmin{{i}}" [(ngModel)]="role.isAdmin" [value]="true">
        <label for="isAdminYes{{i}}">כן</label><br>
        <input type="radio" id="isAdminNo{{i}}" name="isAdmin{{i}}" [(ngModel)]="role.isAdmin" [value]="false">
        <label for="isAdminNo{{i}}">לא</label><br>
      </div>
      
      <!-- <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="role.isAdmin" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">האם מנהלי: </label>
      </div> -->
      
      <div class="form-group">
        <label for="startDate"><i class="fas fa-id-card"></i> Start Date:</label>
        <input type="date" class="form-control" id="startDate" [(ngModel)]="role.startDate" name="startDate" required>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="addRole()">Add Role</button>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </div>

  </form>
</div>
