// Define a CSS variable for the background color of the body
:root {
    --background-color: #ededed; // Default background color
  }
  
  body {
    background-color: var(--background-color);
  }
  
  header {
    margin-bottom: 1rem;
  }
  
  .turqiz.background {
    background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
  }
  
  .turquoise {
    color: rgb(51, 189, 175);
  }
  
  .radio-icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
  