<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand turquoise" href="#">Smart job</a>
            <div class="" id="navbarNav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/all">All Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tool" (mouseover)="showSettings()" (mouseleave)="hideSettings()">⚙</a>
                        <span *ngIf="isHovering" class="tooltip">הגדרות</span>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
</header>



<router-outlet></router-outlet>